/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.wrapper{
    background-image: linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.527)), url(../img/crazy-love.jpg);
    max-height: 100%;
    background-size: cover;
    background-position: center;
}

.wrapper-team{
    background-image: linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.884)), url(../img/team-pic.jpg);
    max-height: 100%;
    background-size: cover;
    background-position: center;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


section {
    padding: 80px 0;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* HEader */
/* ----------------------------------------------- */
.page-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.5)), url(../img/love.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.header-account{
    background-image: linear-gradient(to right, rgba(255,0,0,0), #0984e3);
}

.user-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo {
    height: 110px;
    width: auto;
    float: left;
    margin-top: 15px;
    transition: transform 0.5s, opacity 0.5s;
}


nav img:hover{
    transform: scale(1.1);
}


/* Main navigation */
/* ----------------------------------------------- */
.main-nav{
float: right;
list-style: none;
margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #3498db;
}

.header-account .main-nav li a:hover,
.header-account .main-nav li a:active {
    border-bottom: 2px solid #c8d6e5;
}

/*h1 h2 */
/* ----------------------------------------------- */
h1, h2{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1{
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after{
    display: block;
    height: 2px;
    background-color:  #3498db;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
    color:#fff;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #3498db;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    border-bottom: 1px solid transparent;
}

/* Buttons */
/* ----------------------------------------------- */
.btn:link,
.btn:visited,
input[type=submit],
input[type=button] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.green:link,
.green:visited {
    background-color: #00b894;
    border: 2px solid #009679;
    margin-right: 20px;
}

.blue:link,
.blue:visited,
input[type=submit],
input[type=button] {
    background-color: #3498db;
    border: 2px solid #2980b9;
}

.green:hover,
.green:active {
    background-color: #009679;
}

.blue:hover,
.blue:active,
input[type=submit]:hover,
input[type=submit]:active,
input[type=button]:hover,
input[type=button]:active {
    background-color: #2487c9;
}
#random {
    display: none;
}
/* Section features */
/* ----------------------------------------------- */
.section-features{
    padding: 70px 0;
}

.about-site {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-indent: 30px;
    text-align: justify;
}

/* Gallery of pictures */
/* ----------------------------------------------- */
.gallery{
    padding: 0;
}
.funny-img{
    list-style: none;
    width: 100%;
}
.funny-img li{
    display: block;
    float: left;
    width: 25%;
}

.love-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.love-photo img{
    opacity: 0.75;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.love-photo img:hover{
    opacity: 1;
    transform: scale(1.05);
}

/* Steps section IOS Android*/
/* ----------------------------------------------- */

.section-steps a {
    border-bottom: none;
}

.steps-box:first-child{
text-align: right;
padding-right: 3%;
margin-top: 30px;
}

.steps-box:last-child{
padding-left: 3%;
margin-top: 65px;
}

.iphone-screen {
    width: 45%;
}

.steps{
    margin-bottom: 50px;
}
.steps div{
    color: #3498db;
    border: 2px solid #3498db;
    border-radius: 50%;
    height: 53px;
    width: 53px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* Plans section*/
/* ----------------------------------------------- */

.section-plans{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    box-shadow: 0 3px 3px #efefef;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 1.3;
}
.plan-price{
    font-size: 250%;
    margin-bottom: 10px;
    color: #3498db;
}

.save{
    padding: 2px;
    width: 40%;
    margin: 0 auto;
    background-color: #51a7e0;
    color: #fff;
}


/* Contact form*/
/* ----------------------------------------------- */

.contact-form{
    width: 60%;
    margin: 0 auto;
}

.label-properties{
    font-weight: 400;
    margin-right: 10px;
    }

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
input[type=number], 
input[type=password]{
    border-radius: 3px;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 15px 5px 10px 0;
}


.about-form label{
    color: #ecf0f1;
}

.about-form input[type=text],
input[type=email],
input[type=number],
input[type=password],
select,
textarea{
    background: linear-gradient(to right, rgba(248, 237, 237, 0.884), #daf3ff54);
}

.about-form ::placeholder, select option {
    color:rgb(68, 67, 67);
    opacity: 1; 
}
.about-form select {
    color:rgb(68, 67, 67);
}
/* Footer*/
/* ----------------------------------------------- */

footer{
    background-color: rgb(71, 70, 70);
    padding: 30px;
    font-size: 90%;
}
.footer-nav{
    list-style: none;
    float: left;
}

.footer-nav li{
    display: inline-block;
    margin-right: 15px;
}

.footer-nav li a:link,
.footer-nav li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}
footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 25px;
}

/* Team*/
/* ----------------------------------------------- */
.our-team {
    color: #dfe6e9;
    margin-top: 25px;
}

.photo {
    float: left;
    margin: 5px;
}

.photo img{
    border-radius: 50%;
}
  .about-author{
    float: left;
    width: 80%;
    margin-top: 5px;
    color: #dfe6e9;
    text-indent: 20px;
    text-align: justify;
}
  .about-author h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.about_us .row {
    width: 60%;
    border: 2px solid white;
    border-radius: 7px;
    margin-bottom: 50px;
    line-height: 1.2;
    background-color: rgba(204, 204, 204, 0.377);
    padding: 10px;
}

/* Account form */
/* ----------------------------------------------- */

#welcome-window, #div-image{
    display: none;
}

.account-form h3 {
    text-align: center;
    margin: 15px;
    color:white;
    font-size: 150%;
    font-weight: bold;
}
.account-form img {
    border: 4px solid #dfe6e9;
    border-radius: 10%;
    float: left;
    animation: flash linear 5s infinite;
}

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

#description {
    float: left;
    margin-left: 15px;
    margin-top: 220px;
    color:#fff;
    font-size: 150%;
    font-weight: bold;
}


#result{
    text-align: center;
    line-height: 1.3;
    color: white;
    margin-top: 20px;
}

#result h4 {
    text-decoration: underline;
}
#result p{
    font-style: italic;
}

#result ~ div {
    width: 12%;
    margin: 10px auto;
}